# Node modules
node_modules/

# Build output
dist/
build/
ChatGPT-darwin-x64/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# npm lock file
package-lock.json
# OS files
.DS_Store

# Environment files
.env
.env.*

# VSCode settings
.vscode/
